.footer{
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(223, 223, 223, 0.432);
    position: relative;
}

.footer-div-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-h3{
    padding-bottom: 20px;
}

.footer-mail{
    display: flex;
    align-items: center;
}

.footer-div-social-media{
    border-top: solid 1px black;
}

.footer-div-insta{
    height: 50px;
}

.footer-insta{
    border: solid 1px black;
    border-radius: 10%;
    padding: 1vh;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: white;
    position: relative;
    left: 47%;
    bottom: 30px
}


.footer-logo{
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 30%;
}


.footer-insta:hover{
    background-color: black;
    color: white;
    font-weight: lighter;
}

.footer-signature{
    display: flex;
    justify-content: flex-end;
}

.footer-signature-p{
    margin-right: 2vw;

}

.footer-link{
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.material-symbols-outlined{
    padding-right: 5px;
}

.footer-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.footer-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}