.profile-card-container{
    width: 60%;
    max-width: 60vw;
    min-height: calc(70vh - 380px);
    margin: auto;
    background-color: rgb(233, 233, 233);
}

.image-name-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile-img{
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin: 30px;
    border: 5px solid black;
    background-color: white;
}

.profile-name{
    font-size: 2.5em;
}

.profile-email{
    margin: 50px;
}