.addPost-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.addPost-form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 10px;
}