.basket-container{
    width: 50%;
    border: 1px solid black;
}

.basket-product{
    width: 100%;
}

.basket-productInfo{
    display: grid;
    grid-template-columns: 1fr 1.6fr 0.4fr;
    grid-template-rows: 1fr;
    justify-content:end;
    align-items: center;
    padding: 10px;
    padding-top: 10px;
    border: 1px solid gray;
}

.basket-productInfo img {
    width: 120px;

}

.basket-productInfo Link p {
    width: 20%;
    margin-left: 5%;
    
}


.basket-totalPrice{
    border: 1px solid black;
    text-align:end;
    padding: 20px;
}