.change-pass-eye-icon{
    font-size: 1.7em;
    position: relative;
    top: 55px;
    left: 230px;
    margin-top: -1000px;
}

.change-new-pass-eye-icon {
    font-size: 1.7em;
    position: relative;
    top: 55px;
    left: 240px;
    margin-top: -1000px;
}

.change-new-check-pass-eye-icon {
    font-size: 1.7em;
    position: relative;
    top: 55px;
    left: 165px;
    margin-top: -1000px;
}