.cfp-subtitle-1{
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
}

.cfp-eye-icon{
    font-size: 1.7em;
    position: relative;
    top: 55px;
    left: 250px;
    margin-top: -1000px;
}

.cfp-eye-icon:hover, .cfpc-eye-icon:hover{
    cursor: pointer;
}

.cfpc-eye-icon{
    font-size: 1.7em;
    position: relative;
    top: 55px;
    left: 175.9px;
    margin-top: -1000px;
}