.forgotten-container{
    width: 100%;
    min-height: calc(100vh - 380px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotten-subtitle{
    text-align: center;
    padding-bottom: 15px;
}