.home-banner{
    width: 100%;
    height: 60vh;
    position: relative;
    text-align: center;
    color: white;
}

.home-page{
    display: block;
    margin-bottom: 10vh;
}

.home-banner-video{
    width:100%;
    height: 100%;
    object-fit:cover;
    object-position: 0px 100%;
    
}

.home-banner-logo{
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
}

.home-buttoms{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vw 8vw 3vw 8vw;
}

.home-div-img{
    width:40vw;
    aspect-ratio: 1/1.5;
    overflow:hidden;
    align-items: center;
    align-content: center;
    display: flex;
    position: relative;
    background-color: black;
}

.home-img{
    width:100%;
    height: 100%;
    object-fit: fill
}

.home-h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(224, 224, 224, 0.724);
    font-size: 2vw;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 2rem;
    border: 1px solid black;
    pointer-events: none;
}

.home-navLink{
    width: 100%;
    height: 100%;
}

.home-img:hover{
    transform: scale(1.1);
    opacity: 50%;
}

.home-navLink:active{
    color: white;
}
.home-navLink:visited{
    color: black;
}

.home-aleatories-comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    padding-top: 20px;
    border-top: 1px solid black;
}

.home-carrusel-page{
    width: 100%;
    height: 100%;
}

.home-comunity-h3{
    font-size:calc(40px + 1vw);
    padding-top: 30px;
    padding-bottom: 30px;
}

.home-carrusel{
    height: 20vh;
    width: 50vw;
    min-height: 200px;
}

.home-carrusel-content{
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
}

.home-carrusel-comment{
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-carrusel-direction{
    height: 20%;
    width: 100%;
    padding:20px;
    display: flex;
    justify-content: space-between;
}



.home-div-comment{
    width: 60%;
}


.home-logo-comment{
    border-radius: 50%;
    width: 18%;
    max-width: 230px;
    aspect-ratio: 1;
    object-fit:cover;
}

.home-username{
    margin-bottom: 10px;
    font-size: calc(12px + 1vw);
}

.home-p-comment{
    font-size: calc(4px + 1vw);
    font-style: italic;
}

.home-arrow{
    font-size: calc(20px + 1vw);
    color: black;
}

.home-arrow:hover{
    color: gray;
}

.home-div-points{
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.home-points{
    font-size: calc(4px + 0.8vw);
    font-weight:bolder;
    color: gray;
    position: relative;
    bottom: 25px;
    letter-spacing: 2.5vw;
}

.home-carrusel-buttoms{
    background: none;
    border: 0;
    color: inherit;
}

.left{
    left: 0;
}

.right{
    right: 0;
}













