.post-page-container{
    width: 100%;
    min-height: calc(100vh - 380px);
    max-width: 1800px;
    margin: auto;
}

.post-link{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.post-link-a{
    color: grey;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 1%;
}

.post-link-a:hover{
    color: rgb(187, 187, 187);
    text-decoration: underline;
}

.post-link p {
    padding-left: 2%;
    padding-right: 2%;
}

.post-page-card{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;

}

.post-page-card img{
    width: 65%;
    height: auto;
}

.post-commentSection{
    width: 35%;
    height: 600px;
    margin-left: 5%;
}

.post-commentList{
    height: 75%;
    border-bottom: 1px solid black;
    overflow: auto;

}

.post-likes{
    height: 10%;
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
}

.post-likes p{
    height: 100%;
    align-content: center;
}

.post-commentSubmit{
    height: 15%;
}

#newComment{
    resize: none;
    width: 100%;
    height: 100%;
    padding: 3%;
}

.post-buttons{
    height: 100%;

}

.post-emoji-button{
    width: 100%;
    height: 50%;
}

.post-submit-button{
    width: 100%;
    height: 50%;
}

.post-comment{
    margin-bottom: 20px;
}

.post-comment-owner{
    font-weight: bold;
}


.post-commentSubmit form {
    display: flex;
    height: 100%;
}

.post-heart-button{
    font-size: 20px;
    margin-right: 10px;
}