.terms-container{
    width: 60vw;
    margin: auto;
    text-align: justify;
}

.terms-container > h2{
    text-align: start;
}

.terms-title-p{
    margin: 30px 20px;
}

.terms-p{
    margin: 15px 0px;
}

.terms-footer-p{
    margin: 40px 0px;
}

.terms-footer{
    margin-bottom: 40px;
    font-style: italic;
}

.terms-ul{
    margin: 15px 30px;
}

.terms-ul > li{
    margin: 5px 0px;
}